{% extends 'blog/base.html' %}

{% block content %}
<div class="login-box">
    <h1>Login</h1>
    {% if form.errors %}
    <p>Credentials didn't match!</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button secondary-button success-button"><span class="fill"></span><span class="button-text">Submit</span></button>
        <input type="hidden" name="next" value="{{next}}">
    </form>

</div>

{% endblock %}